body {
    background-color: #22333b;
    color: #c8d5b9;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Cabin', sans-serif;

}

.prairie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
a {
    color: #ffecd1;
}
